.ServicesSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    position: relative;
    z-index: 1;

    h3 {
        font-size: 3rem;
        background: -webkit-linear-gradient(#ff8b17, #ffea00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 64px;
    }

    ul {
        width: fit-content;
        display: grid;
        justify-content: center;
        list-style: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
    }

    a {
        text-decoration: none;
        margin-top: 24px;
        font-weight: 100;
        color: orange;
        cursor: pointer;
    }

    a:hover {
        text-decoration: underline;
    }
}

.ServicesSection::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
    background: var(--white);
    top: 0;
    z-index: -1;
}

@media screen and (max-width: 1000px){
    .ServicesSection ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 680px){
    .ServicesSection ul {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}